body {
    background-image: url(329374.jpg);
    background-size: cover;
}

.row {
    text-align: center;
}
    
.lucka {
    display: inline-block;
    margin: 20px;
    width: 200px;
    height: 100px;
    border: 1px solid black;
    background-image: url(20091214-christmas-present.jpg);
    background-size: cover;
    background-position-y: center;
}